@import '../variables.module.scss';

#header-left {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    justify-content: space-between;
    &_title {
        font: {
            size: 4rem;
            weight: normal;
        }
        margin: 0;
    }
    &_sub-title {
        font: {
            size: 1.5rem;
            weight: normal;
        }
        margin: {
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
        }
        margin-block: 0;
        margin-inline: 0;
    }
}

#header-right {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    margin-left: auto;
    text-align: left;
    width: 20vw;
}

#header-wrapper {
    background: {
        color: $primary-color;
    };
    display: flex;
    font: {
        family: $main-font;
        weight: normal;
    }
    justify-content: space-between;
    width: 100%;
}

.menu_link {
    color: $secondary-color;
    font: {
        size: 1.3rem;
        weight: normal;
    }
    margin-top: auto;
    text-decoration: none;
    &:hover {
        color: $tertiary-color;
    }
    &:active {
        color: $tertiary-color-dark;
    }
}

#active_true {
    color: $tertiary-color;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: $tertiary-color-dark;
    }
}