@import '../variables.module.scss';

#footer-wrapper {
    color: $secondary-color-dark;
    float: auto;
    font: {
        family: $main-font;
        size: 0.7rem;
        weight: normal;
    }
    margin: {
        left: auto;
        right: auto;
        top: 2rem;
    }
    text-align: center;
    width: 25vw;
}