@import '../../variables.module.scss';

.gallery-images-wrapper {
    display: grid;
    font: {
        family: $main-font;
        size: 1.2rem;
        weight: normal;
    }
    height: auto;
    padding: {
        bottom: 2rem;
        top: 4rem;
    }
    width: 100%;
}

#towers-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}