@import '../variables.module.scss';

.gallery-img {
    height: 100%;
    &_menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

 .gallery-img_menu-controls {
    display: flex;
    justify-content: space-between;
    margin: {
        left: auto;
        right: auto;
    }
    width:10%;
 }

 .gallery-img_menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: {
        family: $main-font;
        size: 1rem;
    }
    outline: none;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: $tertiary-color;
    }
    width: 45%;
 }

 .gallery-img_menu-divider {
    text-align: center;
    width: 5%;
 }

.portraitWeb {
    aspect-ratio: auto 1638 / 2048;
}

.landscapeWeb {
    aspect-ratio: auto 2048 / 1280;
}

.landscapeWebWide {
    aspect-ratio: auto 2048 / 512;
}

.portraitWebTall {
    aspect-ratio: auto 1365 / 2048;
}

.gallery-img_caption {
    text-align: center;
    margin-top: 0.5rem;
}