@import '../variables.module.scss';

.gallery-img {
    height: 100%;
    &_menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.gallery-img-menu {
    display: flex;
    max-height: 2.5rem;
    justify-content: space-between;
    width: 100%;
}

.gallery-img_menu-controls {
    display: flex;
    height: 2vh;
    justify-content: space-between;
    width:10%;
}

.gallery-img_menu-text {
    display: flex;
    justify-content: space-between;
    width: 32rem;
}

.gallery-img_caption {
    text-align: center;
    margin-top: 0.5rem;
}

.gallery-img_menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: {
        family: $main-font;
        size: 1rem;
    }
    outline: none;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: $tertiary-color;
    }
    width: 45%;
}

 .gallery-img_menu-divider {
    margin-top: 0.3rem;
    text-align: center;
    width: 5%;
 }

 .gallery-img_store-wrapper {
    align-items: center;
    background-color: $tertiary-color;
    border-radius: 2px;
    display: flex;
    height: 55%;
    justify-content: space-evenly;
    margin-top: 0.4rem;
    padding: {
        bottom: 0.1rem;
        left: 1rem;
        right: 1rem;
        top: 0.1rem;
    }
 }

 .gallery-img_store-link {

 }

.store-link_image {
    height: 70%;
    width: auto;
}

.portraitWeb {
    aspect-ratio: auto 1638 / 2048;
}

.landscapeWeb {
    aspect-ratio: auto 2048 / 1280;
    height: auto;
    width: 100%;
}

.landscapeWebWide {
    aspect-ratio: auto 2048 / 512;
}

.portraitWebTall {
    aspect-ratio: auto 1365 / 2048;
}
