@import '../variables.module.scss';

#about {
    height: auto;
    width: 100%;
    &_background {
        aspect-ratio: auto 2048 / 1280;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: auto;
        margin-top: 1rem;
        width: 100%;
    }
    &_text {
        width: 80%;
    }
    &_text-wrapper {
        align-items: center;
        background-color: $primary-color-transparent;
        color: $secondary-color;
        display: flex;
        font: {
            family: $main-font;
            size: 1.6rem;
            weight: normal;
        }
        height: 90%;
        justify-content: space-around;
        margin: auto;
        padding-right: 4rem;
        width: 95%;
    }
}

.menu_link-2 {
    color: $tertiary-color;
    font: {
        weight: normal;
    }
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: $tertiary-color-dark;
    }
}

.about_photo {
    border-radius: 90px;
    display: inline;
    margin: {
        bottom: auto;
        left: auto;
        right: 4rem;
        top: 10rem;
    }
    object-fit: cover;
    object-position: 0 0;
}