@import '../variables.module.scss';

#about {
    height: auto;
    width: 100%;
    &_background {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 1280px;
        width: 100%;
    }
    &_text {
        width: 70%;
    }
    &_text-wrapper {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.850);
        color: $secondary-color;
        display: flex;
        font: {
            family: $main-font;
            size: 1.8rem;
            weight: normal;
        }
        height: 90%;
        justify-content: space-around;
        margin: auto;
        width: 95%;
    }
}