@import '../variables.module.scss';

#gallery {
    aspect-ratio: auto 2048 / 1280;
    display: flex;
    height: auto;
    justify-content: space-around;
    width: 100%;
    &_banner {
        display: flex;
        height: 50%;
        margin: {
            bottom: 20rem;
            top: auto;
        }
        width: 100%;
    }
}

.gallery_banner-tile {
    align-items: center;
    aspect-ratio: auto 1638 / 2048;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;
    width: 100%;
    width: 25%;
    &_text {
        background-color: $primary-color-transparent;
        font: {
            family: $main-font;
            size: 4rem;
            weight: normal;
        }
        text-align: center;
        width: 100%;
    }
    &:hover {
        color: $tertiary-color;
        cursor: pointer;
    }
    &:active {
        color: $tertiary-color-dark;
    }
}