@import '../variables.module.scss';

#gallery {
    display: flex;
    height: auto;
    justify-content: space-around;
    margin-bottom: 7rem;
    width: 100%;
    &_banner {
        display: flex;
        height: 50%;
        margin-top: 10rem;
        width: 100%;
    }
}

.gallery_banner-tile {
    aspect-ratio: auto 1638 / 2048;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $secondary-color;
    height: auto;
    text-decoration: none;
    width: 25%;
    &_text {
        background-color: $primary-color-transparent;
        font: {
            family: $main-font;
            size: 4rem;
            weight: normal;
        }
        text-align: center;
        width: 100%;
    }
    &:hover {
        color: $tertiary-color;
        cursor: pointer;
    }
    &:active {
        color: $tertiary-color-dark;
    }
}

.blur {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    &:hover {
        backdrop-filter: blur(2px);
    }
}