@font-face {
    font-family: 'DINMittel';
    src: url(./fonts/DINMittelschriftStd.otf);
}

$primary-color: #000000;
$primary-color-transparent: rgba(0, 0, 0, 0.850);

$secondary-color: #ffffff;
$secondary-color-dark: #8f8f8f;

$tertiary-color: #2092FB;
$tertiary-color-dark: #125ca0;
$tertiary-color-transparent: #2091fb46;

$main-font: 'DINMittel';